<div class="container">
	<h1 class="text-center">All Articles</h1>

	<div class="container">
		<%= render "article_cards", collection: @articles %>
	</div>
	<div class="container text-center">
		<%= link_to 'Create New Article', new_article_path, class: "btn btn-lg btn-primary mb-3" %>
	</div>
</div>


