<div class="container">
	<h1 class="text-center">Article</h1>

	<div class="container">
		<%= render "article_card", locals: {article: @article} %>
	</div>
	<div class="container text-center">
		<%= link_to 'View All Articles', articles_path, class: "btn btn-lg btn-primary mb-3" %>
	</div>
</div>
