<div class="container">
	<p id="notice"><%= notice %></p>
	<h1 class="text-center">Signup!</h1>
	<div class="row">
		<div class="col-8 offset-2">
			<%= render 'form', user: @user %>
			<%= link_to 'View All Articles', articles_path %>
		</div>
	</div>

</div>